@addTagHelper *, Microsoft.AspNetCore.MvcTagHelpers

<script src="~/jquery/jquery.min.js" ></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>

<form asp-controller="home" asp-action="index" asp-method="post">

</form>


    <button id="postButon">Gonder</button>



<script>
    $("#postButon").click(() => {
        $.post("https://localhost:7167/home/index",{a:"test data1",b:"test data2"});
    });
</script>