@model WebApplication17_DerinlemesineRouting.Models.UserInfoVm.UserInfoVM
@addTagHelper *,Microsoft.AspNetCore.TagHelpers

<h1>
    UserCreate
</h1>

<form method ="post">
    <div class= "input-group">
    <span>FirstName: </span><br/>
    <input type="text" class="form-control" asp-for=UserName></input><br/>
    <span>Email</span><br/>
    <input type="text" class="form-control" asp-for=Email></input><br/>
    <span>Info</span></br>
    <input type="text" class="form-control" asp-for="InformationText"></input>

</div>

</form>
