@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication12_KullanıcıdanGelenVeriKontrolü.Models.Product

<html>
<head>
    <title>Doğrulama</title>
</head>
    <body>

        <div class="container">
  <div class="row">
    <div class="col">
      <div>
            <form asp-action="index" asp-controller="product" method="post">
                <input type="text" asp-for="ProductName" placeholder="ProductName"/>
                <span asp-validation-for="ProductName"></span><br />
                <input type="number" asp-for="Quantity" placeholder="Quantity"/>
                <span asp-validation-for="Quantity"></span><br/>
                <input type="email" asp-for="EkleyenEmail" placeholder="EkleyenMail"/>
                <span asp-validation-for="EkleyenEmail"></span><br/>
                <button type="submit">Kayıt</button>
            </form>
        </div>
    </div>
    <div class="col">
     @ViewBag
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>
    </body>
</html>